:root {
  --primary: #0d6d78;
  --secondary: #dfded6;
  --terrtiary: #224241;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a h2 {
  padding: 0;
  margin: 0;
}

/* Nav Style */
.nav {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: var(--primary);
}

.icon {
  height: auto;
  width: 70px;
  padding-top: 5px;
}

/* Hero Style */
.hero {
  background-image: url('./assets/images/PactHeroBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}