:root {
  --primary: #0d6d78;
  --secondary: #dfded6;
  --terrtiary: #224241;
  --lighterGreen: #5f7b55;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

a,
h1 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: calc((2.4 - 1) * 1.2vh + 1rem)
}

h3 {
  font-size: calc((1.6 - 1) * 1.2vh + 1rem)
}

p {
  font-size: calc((1.1 - 1) * 1.2vw + 1rem);
  font-weight: 600;
}

/* Nav Style */
.nav {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

a h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.icon {
  height: auto;
  width: 85px;
  padding-top: 5px;
}

.MuiBox-root .MuiButton-root {
  padding: 2px 8px;
}

/* Hero Style */
.hero {
  background-image: url('./assets/images/PactHeroBg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.heroText {
  width: 65vw;
  margin: auto auto 12vh 5vw;
  color: white;
  max-width: 520px;
}

/* Home Section one */
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.primary {
  background-color: var(--primary);
}

.secondaryColor {
  background-color: var(--secondary);
}

.terrtiary {
  background-color: var(--terrtiary);
  color: var(--lighterGreen);
}

.underline {
  text-decoration: underline;
}

.sectHome {
  padding: 0vh 5vw 5vh 5vw;
  max-width: 815px;
}

.whiteText {
  color: white;
}

#map {
  width: 100%;
  height: auto;
}

/* testimonial animations */
.testimonial-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 90%;
}

.quote1 {
  -webkit-animation: sliderFade-1 45s linear infinite;
  animation: sliderFade-1 45s linear infinite;
}

.quote2 {
  -webkit-animation: sliderFade-2 45s linear infinite;
  animation: sliderFade-2 45s linear infinite;
}

.quote3 {
  -webkit-animation: sliderFade-3 45s linear infinite;
  animation: sliderFade-3 45s linear infinite;
}

.quote4 {
  -webkit-animation: sliderFade-4 45s linear infinite;
  animation: sliderFade-4 45s linear infinite;
}

@keyframes sliderFade-1 {
  0% {
    opacity: 0
  }

  5% {
    opacity: .5
  }

  10% {
    opacity: 1
  }
  
  15% {
    opacity: 1
  }

  20% {
    opacity: .5
  }

  25% {
    opacity: 0
  }
  
  100% {
    opacity: 0
  }

}

@keyframes sliderFade-2 {
  0% {
    opacity: 0
  }
  
  25% {
    opacity: 0;
  }

  30% {
    opacity: .5
  }
  
  35% {
    opacity: 1
  }
  
  40% {
    opacity: 1
  }
  
  45% {
    opacity: .5
  }
  
  50% {
    opacity: 0
  }
  
  100% {
    opacity: 0
  }
}

@keyframes sliderFade-3 {
  0% {
    opacity: 0
  }
  
  50% {
    opacity: 0;
  }
  55% {
    opacity: .5
  }
  
  60% {
    opacity: 1
  }
  
  65% {
    opacity: 1
  }
  
  70% {
    opacity: .5
  }
  
  75% {
    opacity: 0
  }
  
  100% {
    opacity: 0
  }
}

@keyframes sliderFade-4 {
  0% {
    opacity: 0
  }

  75% {
    opacity: 0
  }
  
  80% {
    opacity: .5
  }
  
  85% {
    opacity: 1
  }
  
  90% {
    opacity: 1
  }
  
  95% {
    opacity: .5
  }
  
  100% {
    opacity: 0
  }
}
/* end testimonial animations */

@media only screen and (min-width: 820px) {
  h1 {
    font-size: 38px;
  }
}